* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}

:root {
    --white: #fff;
    --off-white: #e5e5e5;
    --trans-white-1: rgba(255, 255, 255, 0.25);
    --trans-white-2: rgba(255, 255, 255, 0.1);
    --blue-1: #62b8f5;
    --blue-2: #4475ef;
    --shadow: rgba(3, 46, 87, 0.2);
}

body {
    height: 100vh;
    background: linear-gradient(135deg, var(--blue-1), var(--blue-2));
}

.wrapper {
    font-size: 16px;
    width: 90vw;
    max-width: 28em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 100%;
    background: var(--trans-white-2);
    padding: 1em 1.8em;
    border: 2px solid var(--trans-white-2);
    border-radius: 0.6em;
    box-shadow: 0 1.8em 3.7em var(--shadow);
    text-align: center;
}

.search-container {
    font-size: 1em;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search-container input,
.search-container button {
    outline: none;
    font-size: 1em;
    border: none;
}

.search-container input {
    padding: 0.7em;
    background-color: transparent;
    border-bottom: 2px solid var(--trans-white-1);
    color: #fff;
    font-weight: 300;
}

.search-container input::placeholder {
    color: var(--off-white);
}

.search-container input::focus {
    color: var(--white);
}

.search-container button {
    color: var(--blue-2);
    background-color: var(--white);
    border-radius: 0.3em;
}

#result .weather-city {
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.18em;
    font-weight: 600;
    margin: 1.25em 0;
}

#result .description {
    color: var(--off-white);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 2em;
    margin: 0;
}

#result img {
    margin: 0.6em 0 0 0;
    width: 6.2em;
    filter: drop-shadow(0 1.8em 3.7em var(--shadow));
}

#result .temp {
    font-size: 4em;
    margin: 0.3em 0 0.7em 0;
    line-height: 0;
    font-weight: 400;
    color: var(--white);
}

.temp-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.temp-details div {
    padding: 0.3em 1em;
}

.temp-details div:first-child {
    border-right: 1px solid var(--trans-white-1)
}

.temp-details .details-title {
    font-weight: 600;
    color: var(--white);
}
.temp-details .details-temp{
    font-weight: 300;
    color: var(--off-white);
}